NEXT_PUBLIC_BASE_URL = "http://marvelcord.com"
NEXT_PUBLIC_POLLS_BASE_URL = "https://polls.marvelcord.com"

INVITE_URL = "https://discord.gg/marvel"
POST_OFFICE_INVITE_URL = "https://discord.gg/ppm8DXZxKp"

# Logging configuration
# Possible values: DEBUG, INFO, WARN, ERROR, NONE
NEXT_PUBLIC_LOG_LEVEL = "INFO"
